In [1]:
import json
import pandas as pd
from pathlib import Path
import allego_file_reader as afr
import utils
import numpy as np
from project_colors import ProjectColors
from scipy.signal import butter, iirnotch, filtfilt, lfilter, sosfiltfilt
from data_handling import check_recording_datadir, load_recording_overview, read_data_files, detect_stim_onsets
from anlayse_20_01 import get_recording_data

data_dir = Path(r"E:\250306_PEV\recordings")
figure_savedir = Path(r"E:\250306_PEV\figures")

# Make sure reocrding data is organised ok for analyses
check_recording_datadir(data_dir)
ro = load_recording_overview(data_dir)

print(f'Detected recordings:')
for i, r in ro.iterrows():
    print(f'\t{i}')

Data files ok!
Detected recordings:
	rec_1_wl_allseqs
	rec_2_PA_dc55bd50ll90
	rec_3_PA_dc55bd50ll90
	rec_4_PA_dc70bd50ll90_focus2turns
	rec_5_PA_BC20BD50LL90DC80
	rec_6_ol_3V100ms
	rec_7_ol_3V100MS
	rec_8_ol_powerseq
	rec_9_PA

In [ ]:
# Create a bandpass filter
sos = butter(10, (10, 300), btype='bandpass', analog=False, fs=3000,
             output='sos')

### Recording 1: white light sequences

In [2]:
signals, time_samples, channel_df = read_data_files(data_dir, 'rec_1_wl_allseqs')
din_1, din_2, _, _ = detect_stim_onsets(signals, time_samples, channel_df)

In [4]:
din_2

             onset         offset    duration
0      5248.333333    5258.333333   10.000000
1      5268.333333    5278.666667   10.333333
2      5288.666667    5298.666667   10.000000
3      5308.666667    5318.666667   10.000000
4      5328.666667    5338.666667   10.000000
..             ...            ...         ...
806  588453.666667  588554.000000  100.333333
807  589456.000000  589556.333333  100.333333
808  590458.666667  590559.000000  100.333333
809  591461.000000  591561.333333  100.333333
810  592463.666667  592564.000000  100.333333

[811 rows x 3 columns]